
html {
    background-color: rgb(91, 77, 113);
}

h1 {
    color: rgb(255, 255, 255);
}

.landingPageContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.addressInputContainer {
    display:flex;
    flex-direction:row;
    margin: 1em;
}

.addressLabel {
    padding-right: .5rem;
}

.resultsPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
}
.resultsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    border: solid 1px rgb(45, 165, 81);
    background-color: beige;
    margin: 2em;
}

.result {
    margin: 0.5em;
    display:flex;
    flex-direction: column;
    align-items: space-between;
    background-color: aliceblue;
    border:solid 0.5px pink;
}

.keywordInput {
    margin-left: .5rem;
    border-radius: 4px;
}